body{
  font-family: Helvetica, sans-serif;
  background-color: #010101;
  margin: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameForm{
  background-color: black;
  margin: 20px;
}

.nameInput{
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  border-radius: 10px;
  margin: 4px;
  width: 300px;
}

button[type = "submit"] {
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: hsl(40, 100%, 60%);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type = "submit"]:hover {
  background-color: hsl(40, 100%, 95%);
}

.card{
  background: linear-gradient(180deg, hsl(0, 0%, 40%), hsl(0, 0%, 20%));
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p{
  font-size: 1.2rem;
  margin: 2px 0;
}

.nameDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  color: hsl(40, 100%, 60%);
  margin-bottom: 25px;
}

.birthYear, .heightDisplay, .eyeColor, .skinColor, .hairColor{
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 4px;
}

.genderEmoji{
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay{
  font-size: 1.2rem;
  color: hsl(10, 100%, 50%)
}